$green: #1FBD8A ;
$blue: #192F44 ;
$white: #ffffff ;
$fontFamily: 'Roboto', sans-serif ;

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: $fontFamily;
    text-decoration: none;
    box-sizing: border-box;
}
@media  only screen and (max-width: 1400px){
    body{
        position:  absolute;
    }
}
header{
    background-color: $green;
    width: 100%;
   

}
button{
    cursor: pointer;
}
/* Navbar styles */
.nav{
    background-color: $green;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px 50px rgb(32, 31, 31);
    
}
.logo{
    margin-left: 150px;
}
.nav-bar-btns{
    display: flex;
    align-items: center;
}
.navbar ul{
    display: flex;
    padding-right: 240px;
  
}
.navbar ul li a{
    padding-left: 45px;
    color: $white;
    font-size: 15px;
    cursor: pointer;
}
.login-btn{
    background: none;
    border: none;
    color: $white;
    margin-right: 45px;
}
.get-btn{
    width: 160px;
    height: 36px;
    border-radius: 50px;
    border: none;
    background-color: $white;
    color: $blue;
    margin-right: 100px;
} 
/*Header Content styles */

.headerr{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 170px;
    
}
.demand-btn{
    width: 200px;
    height: 33px;
    background: rgba(255, 255, 255, 0.25);
    border: none;
    border-radius: 33px;
    font-size: 15px;
    color: $white;
}
.header-content h1{
    width: 500px;
    color: $white;
    font-size: 60px;
    font-weight: 400;
    margin-top: 20px;
}
.header-content p{
    width: 530px;
    color: $white;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}
.get-started-btn{
    width: 260px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: $white;
    color: $blue;
    margin-top: 44px;
}
.talk-btn{
    width: 260px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background:$blue  ;
    color: $white;
    margin-top: 44px;
    margin-left: 15px;
}
.header-btn{
    display: flex;
}
.header-content{
    padding-top: 110px;
}
/* Header background photos styles */
.header-content-bac{
    width: auto;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin-left: 45px;
    margin-top: 35px;
}
.img1{
    grid-area: 1 / 1 / 3 / 2;
}
.img2{
    grid-area: 1 / 2 / 2 / 3; 
}
.img3{
    grid-area: 3 / 1 / 4 / 2;
}
.img4{
    grid-area: 2 / 2 / 4 / 3; 
}

@media only screen and (max-width:1200px) {
    .header-content-bac{
        position: absolute;
        z-index: -1;
    }
    .partners-photo{
        max-width: 800px;

    }
   
    .headerr{
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }
    header{
       text-align: center;
    
    }
    
}
/*Partners side*/
.partners{
    margin-top: 200px;
    margin-left: 175px;
    padding-bottom: 140px;
}
/* Second section*/ 
.api{
    width: 100%;
    background-color: #FBFCF5;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.name{
    margin-top: 150px;
    font-size: 18px;
    color: $green;
}
.title{
    margin-top: 10px;
    font-size: 42px;
    color: $blue;
}
.content{
    margin-top: 10px;
    width: 800px;
    font-size: 18px;
    text-align: center;
    color: $blue;

}
.api-btn{
    width: 255px;
    height: 50px;
    border: none;
    font-size: 15px;
    color: #ffffff;
    border-radius: 50px;
}
.start-btn{
    background-color: $green;
}
.api-map{
    margin-top: 60px;
    margin-bottom: 150px;
}

